.modal-login-enter {
    opacity: 0;
    transform: translateY(-100px);
  }
  .modal-login-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  .modal-login-exit {
    opacity: 1;
    transform: translateY(0);
  }
  .modal-login-exit-active {
    opacity: 0;
    transform: translateY(-100px);
    transition: opacity 300ms, transform 300ms;
  }